<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>按钮</title>
    <link rel="stylesheet" type="text/css" href="../../common/highlight/style.css">
    <link rel="stylesheet" type="text/css" href="../common/main.css">
    <style>
        body{
            padding: 10px;
            background: #FFF;
        }
        h1{
            font-size: 20px;
            font-weight: bold;
            line-height: 40px;
        }
        p{
            font-size: 14px;
            color: #5e6d82;
            line-height: 1.5em;
        }
        .box{
           padding: 10px;
        }
        .code{
            opacity: .69;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="step">
            <h1>一、安装</h1>
            <p>在页面上引入 css 文件即可开始使用，<a href="../common/main.css" download="">下载文件</a></p>
            <pre><code class="language-html" v-html="installHtml"></code></pre>
        </div>
        <div class="step">
            <h1>二、示例</h1>
            <pre><code class="language-html" v-html="caseHtml"></code></pre>
        </div>
        <div class="step">
            <h1>三、所有按钮</h1>
            <div class="box">
                <button  v-for="item in btnList" :class="item">{{item}}</button>
            </div>
            <div>
        </div>
    </div>
    <script type="text/javascript" src="../../common/vue/vue.js"></script>
    <script type="text/javascript" src="../../common/highlight/prismJS.js"></script>
    <script>
        new Vue({
            el:"#app",
            data(){
                return{
                    btnList:['orangeBtn','grayBtn','blueBtn','redBtn'] ,
                    //安装代码
                    installHtml:`&lt;link rel="stylesheet" type="text/css" href="../common/main.css"&gt;` ,
                    //示例
                    caseHtml:`&lt;button  class=&quot;orangeBtn&quot;&gt;按钮&lt;/button&gt;`                   
                }
            },
            methods:{
            
            }
        });
    </script>
</body>
</html>